Package: com.yourcompany.essentials
Name: essentials
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: pi
Author: pi
Section: System
Tag: role::developer
